#streamus-panel-buttons .yt-uix-button:hover {
    border-bottom-color: #000;
    opacity: 1;
    filter: none;
}

#streamus-panel-buttons .yt-uix-button {
    height: 24px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 0 4px;
    color: #333;
    border: 2px solid transparent;
    border-width: 2px 0;
    background: none;
    font-size: 13px;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#streamus-panel-buttons .yt-uix-button-toggled {
    border-bottom-color: #000;
    opacity: 1;
    filter: none;
}

.action-panel-streamus {
    display: none;
    padding: 18px 20px;
    width: 600px;
}